In [1]:
from env_kim import RL_Kim_TradeEnv
from read2df import read2df, unify_dfs
from stable_baselines3.common.env_checker import check_env

In [2]:
dfs = read2df(symbols=['BTCEUR', 'BTCGBP'], freqs={'1m': 1}, marketType='spot')
tics, df = unify_dfs(dfs, symbols=['BTCEUR', 'BTCGBP'], period=30) # The period here is the formation period

df.describe()

,time,close0,datetime,close1,spread,zscore
count,5.213790e+05,521379.000000,521379,521379.000000,521379.000000,521379.000000
mean,1.688176e+12,0.000039,2023-07-01 01:52:32.249090560,0.000045,-11.353786,-0.026245
min,1.672531e+12,0.000024,2023-01-01 00:00:59.999000,0.000027,-11.833540,-613.501030
25%,1.680357e+12,0.000036,2023-04-01 13:46:29.999000064,0.000041,-11.413146,-1.084137
50%,1.688177e+12,0.000039,2023-07-01 02:10:59.999000064,0.000044,-11.343164,-0.045606
75%,1.695998e+12,0.000041,2023-09-29 14:35:29.999000064,0.000047,-11.275467,1.037719
max,1.703819e+12,0.000065,2023-12-29 02:59:59.999000,0.000073,-10.821686,374.428762
std,9.032039e+09,0.000008,NaN,0.000008,0.195169,2.996556

In [3]:
env = RL_Kim_TradeEnv(df)
check_env(env)
for i in range(10):
    obs, rewards, terminated, truncated, info = env.step(action=env.action_space.sample())
    env.render()

[-15387.203920000002, 13644.785740000001]
[15368.6511, -13632.101159999998]
[-15379.02032, 13646.94142]
[-15378.661039999999, 13646.033239999999]
networth: 0.0
[15393.491320000001, -13646.3526]
networth: -0.0003
networth: 0
[15372.223939999998, -13630.86364]
networth: 0.0003
[15373.12214, -13631.053259999999]
networth: 0.0004
[-15377.463440000001, 13639.266800000001]
networth: 0.0002
[-15379.329700000002, 13644.33664]
networth: 0.0001
networth: 0.0
networth: 0.0
networth: 0